<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/ie8-responsive-file-warning.js"></script>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
    <title></title>

    <link href="css/css.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .weizhi{height:44px;width:100%;background-color: #F1F1F1;}
        .weizhi_title{white-space:nowrap;height:44px;width:100px;padding:0 10px 0;background-color: #fff;cursor: pointer;text-align: center;line-height: 44px;}
    </style>
</head>
<body>
<div class="weizhi">
    <div class="weizhi_title">
        <span class="glyphicon glyphicon-volume-up"></span>详情
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <table class="table table-bordered text-center">
                <tr class="bg-primary">
                    <th class="col-xs-6" style="text-align: center">相关文件</th>
                    <th class="col-xs-6" style="text-align: center" colspan="3">操作</th>
                </tr>
                <tr>
                    <td>文件一</td>
                    <td><a href="">预览</a></td>
                    <td><a href="">下载</a></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container" style="margin-top: 30px;padding-bottom: 20px;border: 1px solid #eee;box-shadow: 1px 1px 1px #eee;">
        <h3 class="text-center">关于山东省科协办公平台的建设意见</h3>
        一、全体用户
        1、通知中心：显示最新的通知公告，包括文件下发。
        2、修改个人信息
        3、修改密码
        一、管理员
        1、用户管理：
        ①可以添加新用户包括：登录ID（手机号），单位名称，用户类型，密码等字段（字段暂定），并且设置初始密码。
        ②可以查看所有用户信息，并且可以初始化用户密码，并且可以修改用户信息。暂时不做删除操作。
        2、通知管理：（发布通知，已发通知）
        ①在已发通知中，管理员可以发布通知公告，包括文件。并且可以勾选是否进行短信通知。
        ②已发通知中，可以查看已经发布的通知，并且提供修改和删除操作。
        3、活动审批（未审批、已通过、已驳回）
        ①所有显示的内容，全部以时间倒序形式显示：即最新的在最上面。
        ②在已驳回中，可以添加驳回理由。
        二、普通用户
        1、查看通知公告
        2、活动申请（新活动、待审批、已审批）
        ①新活动即是创建活动
        ②待审批，此处用户可以删除和修改活动
        ③已审批，用户只能查看活动，没有修改权限。

    </div>
</div>
</body>
</html>