body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
    font: 14px Arial, Helvetica, sans-serif;
}
body, a, strong, input, select, button, h1, h2, h3, h4, h5, h6, h7
{

}/*12px���������ȣ�Tahoma,Ȼ��:����,Arial.���:sans-serif*/
body {
    height:auto !important; /* ie6 ignores it */
    height:100%; /* fix */
    position: relative;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {
    border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ol, ul {
    list-style:none;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
q:before, q:after {
    content:'';
}
abbr, acronym {
    border:0;
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
.clear
{
    clear:both;
}
.left
{
    float:left;
}
.right
{
    float:right;
}

