<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/Public/js/ie8-responsive-file-warning.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/respond.min.js"></script>
    <![endif]-->
    <title></title>
    <link href="__ROOT__/Public/css/css.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .weizhi{height:44px;width:100%;background-color: #F1F1F1;}
        .weizhi_title{white-space:nowrap;height:44px;width:100px;padding:0 10px 0;background-color: #fff;cursor: pointer;text-align: center;line-height: 44px;}
    </style>
</head>
<body>
<div class="weizhi">
    <div class="weizhi_title">
        <span class="glyphicon glyphicon-volume-up"></span>课程简介
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
    </div>
        <button  class="btn btn-default" onclick="history.go(-1)">返 回</button>
    <div class="container" style="margin-top: 30px;padding-bottom: 20px;border: 1px solid #eee;box-shadow: 1px 1px 1px #eee;">
    <p>
        <h2 align="center">《软件测试技术》课程简介</h2>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp《软件测试技术》课是软件工程专业的专业必修课，主要讲述软件测试的基本概念、测试过程、测试策略、测试方法、测试案例、质量标准和常用测试工具。主要目的是使学生掌握主流的软件测试技术。<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp软件质量是制约软件产业发展的主要因素之一，软件测试是保证软件可靠性和软件质量的重要手段，软件测试作为软件开发的重要阶段，对软件开发和维护有很强的针对性和实用性，日益受到软件企业的重视。通过本课程的学习，可以使学生掌握软件测试的基本概念、技术和常用工具的使用，改变对软件测试的错误认识，对测试能进行有效的管理，能制定软件测试需求，设计测试用例，进行测试结果的分析和报告的书写。因此，作为软件工程专业的本科生系统地学习和掌握软件测试技术是非常有必要的。
    </p>
    </div>
</div>


</body>
</html>