<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/Public/js/ie8-responsive-file-warning.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/html5shiv.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/respond.min.js"></script>
    <![endif]-->
    <title></title>
    <link href="__ROOT__/Public/css/css.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .weizhi{height:44px;width:100%;background-color: #F1F1F1;}
        .weizhi_title{white-space:nowrap;height:44px;width:100px;padding:0 10px 0;background-color: #fff;cursor: pointer;text-align: center;line-height: 44px;}
    </style>
</head>
<body>
<div class="weizhi">
    <div class="weizhi_title">
        <span class="glyphicon glyphicon-volume-up"></span>课件下载
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
    </div>
        <button  class="btn btn-default" onclick="history.go(-1)">返 回</button>
    <div class="container" style="margin-top: 30px;padding-bottom: 20px;border: 1px solid #eee;box-shadow: 1px 1px 1px #eee;">
        <table class="table table-striped" style="text-align: center;">
        <caption>课件中心</caption>
          <thead>
            <tr>
              <td>名称</th>
              <td>操作</th>
          </tr>
      </thead>
      <tbody>
      <tr>
          <td>2015第1讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第1讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第2讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第2讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第3讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第3讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第4讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第4讲.pptx"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第5讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第5讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第6讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第6讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第7讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第7讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
      <tr>
          <td>2015第8讲</td>
          <td><a href="__ROOT__/Public/ppt/2015第8讲.ppt"><button type="button" class="btn btn-primary">下载</button></a></td>
      </tr>
  </tbody>
</table>
    </div>
</div>


</body>
</html>